body {
    background-color: #f8f2e4;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    height: 100px;
    width: 100px;
  }
  
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .profile img {
    height: 35px;
    width: 35px;
    border: 2px solid #000000;
    border-radius: 35px;
  }
  
  .searchpanel {
    margin: 0px 70px 10px 10px; /* Center the search panel */
  }
  
  .searchbox {
    width: 1200px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative; /* Remove absolute positioning */
  }
  
  .searchbox input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 40px 0 20px;
    border-radius: 20px;
    box-sizing: border-box;
  }
  
  .searchicon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .searchicon img {
    width: 20px;
    height: 20px;
  }
  
  .searchbox input:hover {
    border: 1px solid #aaa;
  }
  
  .help img {
    position: absolute;
    right: 20px;
    bottom: 50px;
    border: 2px solid #000000; /* Blue border color */
    border-radius: 35px;
    height: 35px;
    width: 35px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for border color change */
  }
  
  .help img:hover {
    border-color: #2980b9; /* Darker shade of blue on hover */
    box-shadow: 0 0 10px #2980b9; /* Add glowing effect in a shade of blue */
    transform: translateY(-4px);
  }
  
  
  footer {
    color: black;
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  